@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Oswald');
/* Use the 'Oswald' font family at 14px throughout the body of the document. */

nav {
    font-family: sans-serif;
    font-size: 10px;
}

body {
    font-family: Oswald;
    font-size: 14px;
}

#main {
    width: 900px;
    margin: 10px auto;
}



h1 {
    font-family: 'Bungee Inline';
    font-size: 46px;
    font-weight: lighter;
}

#menu {
    columns: 420px 2;
    column-gap: 60px;
}

section {
    margin-bottom: 20px;
    padding: 10px;
}



h2 {
    margin-top: 0;
}

h2 {
    text-transform: uppercase;
}



dt {
    display: inline;
}

dt {
    font-weight: bold;
    font-size: 16px;
}



dd {
    display: inline;
    margin: 0;
}

dd::after {
    content: " ";
    display: block;
    clear: both;
    margin-bottom: 15px;
}

dt::after {
    content: ", ";
}

.price {
    float: right;
    padding: 0 0 35px 20px;
}


footer {
    float: right;
    text-align: right;
}


#starters,
#desserts {
    border-style: solid;
    border-width: 2px;

}
